{% extends "index.html" %}

{% block buttons %}
<form action="/interface" method="POST" name="interface_buttons">
    <div class="top_buttons">
        <button type="submit" name="interface_buttons" value={{2}} class="leaderboard_button">
            Leaderboard
        </button>
        <button type="submit" name="interface_buttons" value="{{0}}" class="logout_button">
            Logout
        </button>

    </div>

</form>
{% endblock %}
{% block content %}
 
    <div class="interface_box">
        <div class="interface_text_box">
            <h class="interface_text">
                CROSS SUMS
            </h>
        </div>
        <div class="interface_playbutton">
            <form action="/interface" method="POST" name="interface_buttons">
                <button type="submit" name="interface_buttons" value={{1}} class="interface_button">
                    Play game!!
                </button>
                    
            </form>

        </div>


     </div>


{% endblock %}
