{% extends "index.html" %}
{% block head %}
<title>Leaderboard</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
{% endblock %}
{% block buttons %}
<form action="/leaderboard" method="POST" name="leaderboard_button">
    <div class="top_buttons_leader">
        <button type="submit" name="leaderboard_button" value={{1}} class="go_back_button">
            Go Back
        </button>


    </div>

</form>
{% endblock %}
{% block content %}
    <table class="table_overall">
        <tr>
            <th class="table_head">
                sl.no
            </th>
            <th class="table_head">
                Username
            </th>
            <th class="table_head">
                Time
            </th>

        </tr>
        {% for i in leaderboard %}
        <tr>
            
            <td class="table_content">
                {{loop.index0+1}}
            </td>
            <td class="table_content">
                {{i.username}}
            </td>
            <td class="table_content">
                {% set time=i.time | int %}
                {% set hour = (time // 3600) | int %}
                {% set min = ((time % 3600) // 60) | int %}
                {% set sec = (time % 60) | int %}
                {% if hour>9 %}
                    {% set s = s ~ hour %}
                {% else %}
                    {% set s = s ~ '0' ~ hour %}
                {% endif %}
                {% if min>9 %}
                    {% set s = s ~ ':' ~ min %}
                {% else %}
                    {% set s = s ~ ':0' ~ min %}
                {% endif %}
                
                {% if sec>9 %}
                    {% set s = s ~ ':' ~ sec %}
                {% else %}
                    {% set s = s ~ ':0' ~ sec %}
                {% endif %}
                {{s}}
            </td>
            
        </tr>
        {% endfor %}
        {% set sl=1 %}

    </table>
{%endblock%}